body {
    font-family: 'Montserrat', sans-serif;
}

.header-bg{
  background-image: url("assets/header.jpg");
}

h1, h2{
  color: #3673A6;
}

/* Overlay Styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;

    z-index: 1000;
}

#overlay-content {

    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

#close-overlay {
    margin-top: 20px;
    display:block
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

#overlay.hidden1 {
    display: none;
}
